.sale-container{
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.sale-campo{
    max-width: 300px;
    height: 40px;
    width: auto;
    min-width: 150px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(231, 193, 88);
}
.sale-buttons{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.sale-prod{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}